
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="span12">
        <h1 class="page-header">Today's Flight Schedule</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Flight #</th>
              <th>From</th>
              <th>Departs</th>
              <th>To</th>
              <th>Arrives</th>
              <th>Miles</th>
              <th>Duration</th>
              <th>Seats</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @flights.each do |flight| %>
              <tr>
                <td><%= flight.flight_num %></td>
                <td><%= flight.departure_airport %></td>
                <td><%= flight.departs_at.strftime "%l:%M %p" %></td>
                <td><%= flight.arrival_airport %></td>
                <td><%= flight.arrives_at.strftime "%l:%M %p" %></td>
                <td><%= flight.miles %></td>
                <td><%= flight.duration_in_minutes %> minutes</td>
                <td><%= flight.seats %></td>
                <td><a class="btn btn-success">Book Now</a></td>
              </tr>
            <% end %>

              <tr>
                <td>383</td>
                <td>JFK</td>
                <td> 6:06 AM</td>
                <td>LAX</td>
                <td> 8:08 AM</td>
                <td>205</td>
                <td>123 minutes</td>
                <td>33</td>
                <td><a class="btn btn-success">Book Now</a></td>
              </tr>

          </tbody>
        </table>
      </div>
    </div>

    <hr>
