<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @reservation.user_id %>
</p>

<p>
  <b>Flight:</b>
  <%= @reservation.flight_id %>
</p>

<p>
  <b>Departure date:</b>
  <%= @reservation.departure_date %>
</p>

<p>
  <b>Credit card num:</b>
  <%= @reservation.credit_card_num %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
